{{ header }}
<div id="common-home" class="container">
  <div class="slider">
    <style>
      html,
      body{
        height: 100%;
        font-size: 15px;
      }
      h2 {
        font-size: 26px;
      }
      .swiper{
        width: 1000px;
        height: 100%;
      }
      .swiper-slide{
        text-align: center;
        font-size: 18px;
        background-color: aliceblue;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .swiper-slide img{
        width: 100%;
        object-fit: cover;
      }
      .swiper-button-next, .swiper-rtl .swiper-button-prev{
        right: 140px !important; 
        left: auto;
      }
      .swiper-button-prev, .swiper-rtl .swiper-button-next{
        left: 140px !important; 
        right: auto;
      }

      .slide-content {
        position: absolute;
        /*top: 0;*/
        z-index: 1000;
        color: #fff;
      }

      .slider {
        margin-bottom: 100px;
      }

      .catalog-nav__item {
        display: flex;
        width: 50%;
      }

      .wrapper-category {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      .catalog-block__face {
        margin-right: 50px;
      }

      .catalog-block__item {
        list-style-type: none;
      }
      .fa {
        display: none;
      }
      
      .product-thumb--wishlist {
        display: none;
      }

      .product-thumb--compare {
        display: none;
      }
      
      .rating {
        display: none;
      }

  
    </style>
  
  
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="http://new15939285087473.myaddshop.ru/img/1290x434/1001/sliders/311969cs-960_15939510698078.jpg">
            <div class="slide-content">
              <h1 style="color: #000000;">ТермоБрест</h1>
              <div style="display: flex;flex-direction: column;">
                <span>Изменение прайса с 15.04.2022</span>
                <button style="color: white;background-color: #00aed9;border: 0;height: 40px;border-radius: 10px;margin-top: 25px;">Перейти</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="http://new15939285087473.myaddshop.ru/img/1290x434/1001/sliders/311969cs-960_15939510698078.jpg">
          </div>
          <div class="swiper-slide">
            <img src="http://new15939285087473.myaddshop.ru/img/1290x434/1001/sliders/311969cs-960_15939510698078.jpg">
          </div>
          <div class="swiper-slide">
            <img src="http://new15939285087473.myaddshop.ru/img/1290x434/1001/sliders/311969cs-960_15939510698078.jpg">
          </div>
          <div class="swiper-slide">
            <img src="http://new15939285087473.myaddshop.ru/img/1290x434/1001/sliders/311969cs-960_15939510698078.jpg">
          </div>
        </div>
        
        
    </div>

  
  
    <script>
      var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        pagination: {
          el: ".swiper-pagination",
        },
        mousewheel: true,
        keyboard: true,
      });
    </script>
  </div>


  <div class="wrapper-category">
    <div class="block-category">
        <div class="category">
            <div class="icon-category">
                <img src="https://kipaso.ru/assets/templates/new/img/face1.png" alt="прибор">
            </div>
            <div class="wrapper-category-title">
                <span class="category-title">Измерители-регуляторы</span>
            </div>
        </div>
    </div>
    
</div>





  <!--{{ block_home_top }}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}</div>
    {{ column_right }}</div>-->


  
</div>
{{ footer }}