{{ header }}


<div class="slider">
    <div class="single-item">
        <img src="https://kipaso.ru/assets/templates/new/img/oven_logotip-new.jpg" alt="">
    </div>
    <div class="single-item">
        <img src="https://kipaso.ru/assets/templates/new/img/oven_logotip-new.jpg" alt="">
    </div>
    <div class="single-item">
        <img src="https://kipaso.ru/assets/templates/new/img/oven_logotip-new.jpg" alt="">
    </div>
    <div class="single-item">
        <img src="https://kipaso.ru/assets/templates/new/img/oven_logotip-new.jpg" alt="">
    </div>
    <div class="single-item">
        <img src="https://kipaso.ru/assets/templates/new/img/oven_logotip-new.jpg" alt="">
    </div>
    <div class="single-item">
        <img src="https://kipaso.ru/assets/templates/new/img/oven_logotip-new.jpg" alt="">
    </div>
</div>
<script>
    $('.slider').slick({
        arrows:true,
        infinite: true,
        dots: true,
        adaptiveHeight:true,
        /*autoplay:true,*/
        speed:700,
        autoplaySpeed:1500,
        /*pauseOnDotsHover:true*/
        /*waitForAnimate:false,*/
    });
</script>





<div id="common-home" class="container">
  <div class="hero-category">
    <div class="wrapper-category">
        <div class="block-category">
            <div class="category">
                <div class="icon-category">
                    <img src="https://kipaso.ru/assets/templates/new/img/face1.png" alt="прибор">
                </div>
                <div class="wrapper-category-title">
                    <span class="hero-title">Измерители-регуляторы</span>
                </div>
            </div>
        </div>
        <div class="block-category-title">
            <div class="category-title">
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Измерители, измерители-регуляторы</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">ПИД-регуляторы</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Контроллеры отопления, вентиляции, горячего водоснабжения</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Таймеры, счетчики импульсов, тахометры</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Измерители параметров электрической сети</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Блоки управления, коммутации, защиты</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Дополнительное оборудование</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Комнатные термостаты</a>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper-category">
        <div class="block-category">
            <div class="category">
                <div class="icon-category">
                    <img src="https://kipaso.ru/assets/templates/new/img/face2.png" alt="прибор">
                </div>
                <div class="wrapper-category-title">
                    <span class="hero-title">Датчики</span>
                </div>
            </div>
        </div>
        <div class="block-category-title">
            <div class="category-title">
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Давление</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Температура</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Влажность</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Бесконтактные датчики</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Уровень</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Реле потока и протока</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Барьеры искрозащиты</a>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper-category">
        <div class="block-category">
            <div class="category">
                <div class="icon-category">
                    <img src="https://kipaso.ru/assets/templates/new/img/face3.png" alt="прибор">
                </div>
                <div class="wrapper-category-title">
                    <span class="hero-title">Газовое и котельное оборудование</span>
                </div>
            </div>
        </div>
        <div class="block-category-title">
            <div class="category-title">
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Газовое и котельное оборудование</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Газовые фильтры</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Регуляторы давления газа</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Предохранительно-сбросные клапаны</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Предохранительно-запорные клапаны</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Приборы контроля и розжига</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Газорегуляторные пункты (ГРПШ)</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Определение утечек</a>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper-category">
        <div class="block-category">
            <div class="category">
                <div class="icon-category">
                    <img src="https://kipaso.ru/assets/templates/new/img/face4.png" alt="прибор">
                </div>
                <div class="wrapper-category-title">
                    <span class="hero-title">Манометры, термометры</span>
                </div>
            </div>
        </div>
        <div class="block-category-title">
            <div class="category-title">
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Манометры технические</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Манометры электроконтактные</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Манометры точных измерений</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Коррозионностойкие и виброустойчивые манометры</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Сварочные манометры</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Манометры низкого давления (напоромеры)</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Термоманометры</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Термометры стеклянные</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Термометры биметаллические</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Термометры жидкостные</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Термогигрометры</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Разделители сред</a>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper-category">
        <div class="block-category">
            <div class="category">
                <div class="icon-category">
                    <img src="https://kipaso.ru/assets/templates/new/img/face5.png" alt="прибор">
                </div>
                <div class="wrapper-category-title">
                    <span class="hero-title">ПЛК и системы автоматизации</span>
                </div>
            </div>
        </div>
        <div class="block-category-title">
            <div class="category-title">
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Моноблочные ПЛК</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Панельные ПЛК</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Модульные ПЛК</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Панели оператора</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Программируемые реле</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Модули ввода-вывода</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Модемы</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Преобразователи интерфейсов</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Архиваторы, безбумажные регистраторы</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Программное обеспечение</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Блоки питания</a>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper-category">
        <div class="block-category">
            <div class="category">
                <div class="icon-category">
                    <img src="https://kipaso.ru/assets/templates/new/img/face6.png" alt="прибор">
                </div>
                <div class="wrapper-category-title">
                    <span class="hero-title">Загазованность</span>
                </div>
            </div>
        </div>
        <div class="block-category-title">
            <div class="category-title">
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Сигнализаторы загазованности на метан (CH4)</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Сигнализаторы загазованности на угарный газ (CO)</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Газоанализаторы для режимной наладки</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Многоканальные сигнализаторы загазованности</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Дополнительное оборудование</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Промышленные газоанализаторы</a>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper-category">
        <div class="block-category">
            <div class="category">
                <div class="icon-category">
                    <img src="https://kipaso.ru/assets/templates/new/img/face7.png" alt="прибор">
                </div>
                <div class="wrapper-category-title">
                    <span class="hero-title">Векторные преобразователи</span>
                </div>
            </div>
        </div>
        <div class="block-category-title">
            <div class="category-title">
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Частотные преобразователи</a>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper-category">
        <div class="block-category">
            <div class="category">
              <div class="icon-category">
                <img src="https://kipaso.ru/assets/templates/new/img/face8.png" alt="прибор">
              </div>
              <div class="wrapper-category-title">
                <span class="hero-title">Запорная арматура</span>
              </div>
            </div>
        </div>
        <div class="block-category-title">
            <div class="category-title">
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Общепромышленные электромагнитные клапаны</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Регулирующие клапаны</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Смесительные клапаны</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Клапаны с пневмоприводом</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Газовые электромагнитные клапаны</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Электромагнитные катушки</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Регуляторы давления</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Электроприводы</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Системы регулирования</a>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper-category">
        <div class="block-category">
            <div class="category">
                <div class="icon-category">
                    <img src="https://kipaso.ru/assets/templates/new/img/face9.png" alt="прибор">
                </div>
                <div class="wrapper-category-title">
                    <span class="hero-title">Лампы, кнопки и реле</span>
                </div>
            </div>
        </div>
        <div class="block-category-title">
            <div class="category-title">
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Лампы сигнальные</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Кнопки, переключатели</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Реле промежуточные</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Реле твердотельные</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Изделия для электромонтажа</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Микроклимат шкафов управления</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Автоматические выключатели защиты двигателей</a>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper-category">
        <div class="block-category">
            <div class="category">
                <div class="icon-category">
                    <img src="https://kipaso.ru/assets/templates/new/img/face10.png" alt="прибор">
                </div>
                <div class="wrapper-category-title">
                    <span class="hero-title">Счетчики воды, тепла и газа</span>
                </div>
            </div>
        </div>
        <div class="block-category-title">
            <div class="category-title">
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Квартирные счетчики воды</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Крыльчатые счетчики воды</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Бытовые счетчики тепла</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Промышленные счетчики воды</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Промышленные счетчики тепла</a>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper-category">
        <div class="block-category">
            <div class="category">
                <div class="icon-category">
                    <img src="https://kipaso.ru/assets/templates/new/img/face12.png" alt="прибор">
                </div>
                <div class="wrapper-category-title">
                    <span class="hero-title">Портативные приборы</span>
                </div>
            </div>
        </div>
        <div class="block-category-title">
            <div class="category-title">
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Температура</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Газоанализаторы</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Шумомеры</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">pH-метры</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Дифманометры</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Пирометры</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Термогигрометры</a>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper-category">
        <div class="block-category">
            <div class="category">
                <div class="icon-category">
                    <img src="https://kipaso.ru/assets/templates/new/img/face11.png" alt="прибор">
                </div>
                <div class="wrapper-category-title">
                    <span class="hero-title">Пневматическое оборудование</span>
                </div>
            </div>
        </div>
        <div class="block-category-title">
            <div class="category-title">
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Вакуум</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Перемещение</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Соединение</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Управление</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Электроприводы</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Арматура трубопроводная</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Подготовка воздуха</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Приводы и проекты автоматизации</a>
                </div>
                <div class="subsubcategory-item">
                    <a class="link-category" href="">Готовые решения</a>
                </div>
            </div>
        </div>
    </div>
</div>


  {{ block_home_top }}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}